/*CSS HEX*/
:root{
--dark-spring-green: #3D7751ff;
--amber: #FDBD01ff;
--rufous: #A61410ff;
--hunter-green: #1D5A34ff;
--rufous-2: #A51411ff;
}

/* SCSS HEX */
$--dark-spring-green: #3D7751ff;
$--amber: #FDBD01ff;
$--rufous: #A61410ff;
$--hunter-green: #1D5A34ff;
$--rufous-2: #A51411ff;